@model IEnumerable<MvcMovie.Models.Purchase>

@{
    ViewData["Title"] = "購買紀錄";
}

<h1>購買紀錄</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                名稱
            </th>
            <th>
                數量
            </th>
            <th>
               價格
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">編輯</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">詳細資訊</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">刪除</a>
                </td>
            </tr>
        }
    </tbody>
</table>
